<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/new.css">
<div class="container-fluid mt-4 mb-4 container2">
    <h1 class="text-center mb-3">How Are You Feeling?</h1>
    <form action="/dailylog/new" method="post" novalidate class="validated-form">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="slider">
                    <legend>Emotion Levels:</legend>
                    <% rows.forEach(column => { %>
                        <% const columnName = column.column_name.charAt(0).toUpperCase() + column.column_name.slice(1); %>
                        <% if (columnName !== 'Time_stamp' && columnName !== 'Notes' && columnName !== 'User_id' && columnName !== 'Snapshot_id') { %>
                            <div class="mb-2">
                                <label for="<%= columnName %>Slider" class="form-label"><%= columnName %></label>
                                <input type="range" name="<%= columnName %>" min="0" max="10" id="<%= columnName %>Slider" class="form-range" oninput="this.nextElementSibling.value = this.value">
                                <output>5</output>
                            </div>
                        <% } %>
                    <% }); %>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>What triggered these emotions?</legend>
                    <% triggers.forEach(function(trigger) { %>
                        <input type="checkbox" class="btn-check" id="<%= trigger.trigger_id %>" name="triggers"
                            value="<%= trigger.trigger_id %>">
                        <label for="<%= trigger.trigger_id %>" class="btn btn-secondary mb-2">
                            <%= trigger.trigger_name %>
                        </label>
                    <% }); %>
                </fieldset>
                <fieldset>
                    <legend>Additional Notes:</legend>
                    <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
                </fieldset>
            </div>  
            <div class="row justify-content-right mt-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </div>
      
    </form>
</div>


