<% layout('layouts/boilerplate') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"
        integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <div class="container-fluid">
        <% if (loggedin) { %>
            <h2 class="mt-4 mb-3">
                <%= `Welcome Back ${user.firstname}!` %>
            </h2>
            <% } else { %>
                <h2 class="mt-4 mb-3">Welcome</h2>
                <% } %>
                    <div class="row">
                        <!-- Left-hand side column for the chart -->
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h3 class="card-title">
                                        Emotion's Over Time
                                    </h3>
                                    <!-- Chart canvas will be dynamically created here -->
                                    <canvas id="emotionChart"></canvas>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">
                                        Trigger Frequency
                                    </h3>
                                    <!-- Chart canvas will be dynamically created here -->
                                    <canvas id="triggersChart"></canvas>
                                </div>

                                <div class="card-body">
                                    <h3 class="card-title">
                                        Recent Entries
                                    </h3>
                                    <!-- Chart canvas will be dynamically created here -->
                                    <canvas id="radarChart"></canvas>
                                </div>
                            </div>
                        </div>

                        <!-- Right-hand side column for the logs -->
                        <div class="col-md-6">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <% const dateformat={ weekday: 'long' , year: 'numeric' , month: 'long' ,
                                            day: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour24: true }; %>
                                            <% if (loggedin) { %>
                                                <h2 class="mt-4 mb-3">
                                                    <%= `${user.name}'s Log` %>
                                                </h2>
                                                <% } else { %>
                                                    <h2 class="mt-4 mb-3">My Log</h2>
                                                    <% } %>

                                                        <% log.forEach((row)=> { %>
                                                            <% var snapshotid=row.snapshot_id; %>
                                                                <% if (loggedin) { %>
                                                                    <div class="card mb-3">
                                                                        <div class="card-body">
                                                                            <% var rawdate=new Date(row.time_stamp); %>
                                                                                <% var itemdate=new
                                                                                    Intl.DateTimeFormat('en-GB',
                                                                                    dateformat).format(rawdate); %>
                                                                                    <h3 class="card-title">
                                                                                        <%= itemdate %>
                                                                                    </h3>
                                                                                    <div
                                                                                        class="row justify-content-end">
                                                                                        <div
                                                                                            class="col-md-6 text-right">
                                                                                            <a class="btn btn-secondary"
                                                                                                href="/dailylog/view/<%= snapshotid %>">View
                                                                                                Record</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <h5>Emotion Summary</h5>
                                                                                    <ul
                                                                                        class="list-group list-group-flush">
                                                                                        <%
                                                                                            Object.keys(row).forEach((key)=>
                                                                                            { %>
                                                                                            <% if (key !=='time_stamp'
                                                                                                && key !=='snapshot_id'
                                                                                                && key !=='user_id' &&
                                                                                                key !=='notes' ) { %>
                                                                                                <li
                                                                                                    class="list-group-item">
                                                                                                    <%= key.charAt(0).toUpperCase()
                                                                                                        + key.slice(1)
                                                                                                        %>: <%= row[key]
                                                                                                            %>
                                                                                                </li>
                                                                                                <% } %>
                                                                                                    <% }); %>
                                                                                    </ul>
                                                                                    <div
                                                                                        class="row justify-content-end mt-3">
                                                                                        <div
                                                                                            class="col-md-6 text-right">
                                                                                            <a class="btn btn-info"
                                                                                                href="/dailylog/edit/<%= snapshotid %>">Edit</a>
                                                                                            <form method="post"
                                                                                                class="d-inline">
                                                                                                <button
                                                                                                    class="btn btn-danger"
                                                                                                    formaction="/dailylog/del/<%= snapshotid %>">Delete</button>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                        </div>
                                                                    </div>
                                                                    <% } else { %>
                                                                        <div class="card mb-3">
                                                                            <div class="card-body">
                                                                                <% var rawdate=new Date(row.time_stamp);
                                                                                    %>
                                                                                    <% var itemdate=new
                                                                                        Intl.DateTimeFormat('en-GB',
                                                                                        dateformat).format(rawdate); %>
                                                                                        <h3 class="card-title">
                                                                                            <%= itemdate %>
                                                                                        </h3>
                                                                                        <p> Log in for more details.
                                                                                        </p>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                            <% }); %>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    <script>

        const xLabelsData = `<%- JSON.stringify(dates) %>`;
        var xlabels = JSON.parse(xLabelsData);
        const yLabelsData = `<%- JSON.stringify(emotionValues) %>`;
        var ylabels4 = JSON.parse(yLabelsData);
        const legendLabels = `<%- JSON.stringify(emotionNames) %>`;
        var legLabels = JSON.parse(legendLabels);



        const chartdata = {
            labels: xlabels,
            datasets: ylabels4.map((values, index) => {
                return {
                    label: `${legLabels[index]}`,
                    data: values,
                    lineTension: 0,
                    pointRadius: 3,

                    borderWidth: 1,
                    backgroundColor: `rgba(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255}, 0.2)`,
                    borderColor: `rgb(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255})`,
                    pointBackgroundColor: `rgb(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255})`,
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: `rgb(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255})`
                };
            })
        };



        const chartconfig = {
            type: 'line',
            data: chartdata,
            options: {
                animation: true,
                maintainAspectRatio: true,
                scales: { y: { min: -0, max: 11 } },
                plugins: {
                    legend: { display: true },
                    tooltips: { enabled: true },
                    tile: {
                        display: true,
                        text: "Emotions over time",
                        font: { size: 20 },
                    }
                }
            }

        };


        const yAxisData = `<%- JSON.stringify(counts) %>`;
        const xAxisData = `<%- JSON.stringify(triggerNames) %>`;
        var yvals2 = JSON.parse(yAxisData);
        var xlabels2 = JSON.parse(xAxisData);
        maxYAxis = Math.max(...yvals2);



        const chartdata2 = {
            labels: xlabels2,
            datasets: [{
                data: yvals2,
                lineTension: 0,
                pointRadius: 3,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: 'black',
                borderWidth: 1
            }]
        };

        const chartconfig2 = {
            type: 'bar',
            data: chartdata2,
            options: {
                animation: true,
                maintainAspectRatio: true,
                scales: { y: { min: 0, maxYAxis } },
                plugins: {
                    legend: { display: false },
                    tooltips: { enabled: true },
                    tile: {
                        display: true,
                        text: " Triggers",
                        font: { size: 20 },
                    }
                }
            }

        };
        const yAxisDataSets = `<%- JSON.stringify(topDataSets) %>`;
        var yvals3 = JSON.parse(yAxisDataSets);
        const xAxislabs = `<%- JSON.stringify(emotionNames) %>`;
        var xvals3 = JSON.parse(xAxislabs);
        var top5Dates = xlabels.slice(-5);
        top5Dates.reverse();
        console.log(top5Dates);

        const data = {
            labels: xvals3,
            datasets: yvals3.map((values, index) => {
                return {
                    label: `${top5Dates[index]}`,
                    data: values,
                    fill: true,
                    backgroundColor: `rgba(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255}, 0.2)`,
                    borderColor: `rgb(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255})`,
                    pointBackgroundColor: `rgb(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255})`,
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: `rgb(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255})`
                };
            })
        };



        const configRadar = {
            type: 'radar',
            data: data,
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                }
            },
        }

        const chart = new Chart('emotionChart', chartconfig);

        const chart2 = new Chart('triggersChart', chartconfig2);

        const chart3 = new Chart('radarChart', configRadar);
    </script>


    <!-- Import the JavaScript file for the chart -->